<%= link_to '<< Back', edit_podcast_path(@podcast) %><br/><br/>
<h1>Editing episode</h1>

<% form_for(@episode, :url => podcast_episode_path(@podcast, @episode), :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

