<h1>New episode</h1>

<% form_for(@episode, :url => podcast_episodes_path(@podcast), :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', edit_podcast_path(@podcast) %>